:root {
    --border-color: #000000;
    --box-shadow-color: #525050;
    --dark-green: #164A41;
    --green: #4D774E;
    --light-green: #9DC88D;
    --orange: #F1B24A;
    --white: #FFFFFF;
}

body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

.article-body {
    background-color: var(--white);
    margin: 0 0 0px 30vw;
    height: 100vh;
}

.nav-bar {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 30vw;
}

.nav-bar__button {
    background-color: var(--green);
    border: unset;
    width: 100%;
}

.nav-bar__main-button {
    background-color: var(--orange);
    border: unset;
    font-size: 1.8rem;
    height: 7vh;
    min-height: 50px;
    min-width: 200px;
    width: 100%;
}

.section {
    padding: 10px 0px 10px 10px;
}

.section__code {
    background-color: var(--light-green);
    margin: 5px 0px 5px 25px;
}