:root {
    --color1: rgb(225, 120, 25);
    --border-color: rgb(0, 0, 0);
    --box-shadow-color: rgb(82, 80, 80);
}

body {
    display: flex;
}

html {
    box-sizing: border-box;
}

.button {
    border: 1.5px solid var(--border-color);
    height: 7vh;
    min-height: 50px;
    min-width: 200px;
    width: 20vw;
    font-size: 1.8rem;
}

.nav-bar {
    border: 1px solid var(--border-color); /*Temporal*/
    flex-direction: column;
    display: inline-block;
    margin: -8.5px 0 0 -9.5px;
    justify-content: space-between;
    height: 100vh;
    width: fit-content;
}

.nav-bar__item {
    border: 1px solid var(--border-color);
    flex: 1 1 0px;
    margin: 8.5px 0 0 ;
}

.section {
    width: 75vw;
}