@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat&display=swap');

:root {
    --border-color: #000000;
    --box-shadow-color: #525050;
    --dark-green: #164A41;
    --dark-green-contrast: #83BB84;
    --green: #4D774E;
    --light-green: #9DC88D;
    --light-green-contrast: #0F100F;
    --orange: #F1B24A;
    --white: #FFFFFF;
}

body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

.article-body {
    background-color: var(--white);
    height: 93vh;
    margin: 0 0 0px 30vw;
    overflow: auto;
}

.nav-bar {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 30vw;
}

.nav-bar__button {
    background-color: var(--light-green);
    border: unset;
    color: var(--light-green-contrast);
    font-family: 'Montserrat', serif;
    font-size: 16px;
    height: 5.5vh;
    padding: 0 0 0 1rem;
    text-align: left;
    width: 100%;
}

.nav-bar__main-button {
    background-color: var(--green);
    border: unset;
    font-family: 'Arvo', serif;
    font-size: 1.8rem;
    height: 7vh;
    min-height: 50px;
    min-width: 200px;
    width: 100%;
}

.section {
    font-family: 'Montserrat', serif;
    padding: 10px;
}

.section__title {
    font-family: 'Arvo', serif;
}

.section__code {
    background-color: var(--light-green);
    margin: 5px 3rem 0 25px;
    overflow: auto;
    padding: 4px 10px;
}

.menu {
    background-color: var(--dark-green);
    height: 7vh;
    margin: 0 0 0 30vw;
    position: sticky;
    top: 0;
}